/* 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
}

.nav{
    position: sticky;
    top: 0;
    overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a2b20;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #eedae6;
  color:#3a2b20;
}

section{
    background-color: #fffbea;
}

#home{
    background-color: #fffbea;
    background-image: repeating-linear-gradient(90deg, #eedae6, #eedae6 10px, transparent 10px, transparent 20px);
    height: 60vh;
}

.title{
    margin: 0 auto;
}

#about{
    height: 100vh;
}

.split-container {
    display: flex;
    width: 90vw;
    height: 65%;
}

.split-left,
.split-right {
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.split-left{
    flex: 0 0 30%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.split-right{
    flex: 0 0 70%;
    padding: 20px;
    text-align: left;
    justify-content: center;
    align-items: start;
    text-wrap-mode: wrap;
}

h1, h4, p, li, a, h3{
    color: #3a2b20
}

#about h1{
    font-size: 5rem;
}

#about h4{
    font-size: 1.5rem;
    margin-top: 0;
}

.description {
    line-height: 30px;
    font-size: 1.5rem;
}

.column {
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 50px
}

.exp1 p{
    font-size: 1rem;
    margin: 0;
    padding-left: 10px
}

.experience {
    border-left: 5px solid #3a2b20;
}

.skills{
    padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }

    .split-left,
    .split-right {
        margin: 5px;
        width: 95%;
        height: 48vh;
    }
}

#projects{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    padding: 10px;
    border: none
}

#contact{
    background-color: #eedae6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#contact a{
    text-decoration: none;
    padding-left: 30px
}

#contact a:hover{
    text-decoration: underline;
    
}

